@import "../../assets/styles/variables";
@keyframes blink-caret {
    from,
    to {
        border-right-color: transparent;
    }
    50% {
        border-right-color: $secondary-color;
    }
}
.typewriter {
    background-color: $bg-secondary;
    color: $secondary-color;
    border-radius: .6rem;
    font-size: 2rem;
    padding: 2rem;
    margin: auto;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
    &__typing-line {

    }
}
.type-word {
    border-right: 0.15em solid $secondary-color;
    overflow: hidden;
    animation: blink-caret 0.5s step-end infinite;
}
